.root {
  background-color: #191d25;
  height: 60px;
  width: 623px;
  border-radius: 10px;
  color: #3f454d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 17px;
  outline: none;
  &::placeholder {
    color: #3f454d;
    transition: 1s ease-in-out;
  }
  &:focus {
    &::placeholder {
      position: absolute;
      bottom: 60%;
      transition: all 1s ease-in-out;
    }
  }
}
